// tints
$white-0:     #FFFFFF;
$white-10:    #FDFDFD;
$white-20:    #FAFAFA;
$white-30:    #F6F6F6;
$white-40:    #F0F0F0;
$white-50:    #E8E8E8;
$white-60:    #DDDDDD;
$white-70:    #CFCFCF;
$white-80:    #BFBFBF;
$white-90:    #ACACAC;
$white-100:   #999999;

// shades
$black-100:   #808080;
$black-90:    #6D6D6D;
$black-80:    #5B5B5B;
$black-70:    #4B4B4B;
$black-60:    #3D3D3D;
$black-50:    #333333;
$black-40:    #2B2B2B;
$black-30:    #252525;
$black-20:    #242424;
$black-10:    #202020;
$black-0:     #1C1C1C;