// tints
$w-0:     #FFFFFF;
$w-10:    #FDFDFD;
$w-20:    #FAFAFA;
$w-30:    #F6F6F6;
$w-40:    #F0F0F0;
$w-50:    #E8E8E8;
$w-60:    #DDDDDD;
$w-70:    #CFCFCF;
$w-80:    #BFBFBF;
$w-90:    #ACACAC;
$w-100:   #999999;

// shades
$b-100:   #808080;
$b-90:    #6D6D6D;
$b-80:    #5B5B5B;
$b-70:    #4B4B4B;
$b-60:    #3D3D3D;
$b-50:    #333333;
$b-40:    #2B2B2B;
$b-30:    #252525;
$b-20:    #242424;
$b-10:    #202020;
$b-0:     #1C1C1C;